In [2]:
from full_data import FullData

data = FullData().getFullDataSet(fromFile=True)
data

Index(['open', 'high', 'low', 'close', 'volume'], dtype='object')
Index(['positive', 'negative', 'date'], dtype='object')

,open,high,low,close,volume,positive,negative,date
2017-01-01 00:00:00+00:00,963.658020,1003.080017,958.698975,998.325012,147775008,156,24,NaN
2017-01-02 00:00:00+00:00,998.617004,1031.390015,996.702026,1021.750000,222184992,99,25,NaN
2017-01-03 00:00:00+00:00,1021.599976,1044.079956,1021.599976,1043.839966,185168000,121,29,NaN
2017-01-04 00:00:00+00:00,1044.400024,1159.420044,1044.400024,1154.729980,344945984,206,63,NaN
2017-01-05 00:00:00+00:00,1156.729980,1191.099976,910.416992,1013.380005,510199008,165,95,NaN
...,...,...,...,...,...,...,...,...
2024-07-22 00:00:00+00:00,68152.976562,68480.062500,66611.296875,67585.250000,42649109453,99,23,NaN
2024-07-23 00:00:00+00:00,67584.804688,67779.015625,65484.460938,65927.671875,35605668666,109,47,NaN
2024-07-24 00:00:00+00:00,65927.859375,67113.984375,65146.996094,65372.132812,27470942309,120,40,NaN
2024-07-25 00:00:00+00:00,65375.875000,66112.421875,63473.472656,65777.226562,38315761670,114,68,NaN
2024-07-26 00:00:00+00:00,65771.812500,68207.601562,65743.765625,67912.062500,30488630457,132,57,NaN